{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block title %}Log In | Exclusive{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-image">
        <img src="{% static 'img/signup-image.jpg' %}" alt="Phone and cart">
    </div>
    <div class="auth-form">
        <h2>Log in to Exclusive</h2>
        <p>Enter your details below</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="primary-btn">Log In</button>
        </form>

        <p class="auth-switch">
            Forgot Password? <a href="#">Reset</a>
        </p>
    </div>
</div>
{% endblock %}
